<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ConvertTemperatureSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ConvertTemperatureSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webservicex.net/ConvertTemperature.asmx"
                binding="basicHttpBinding" bindingConfiguration="ConvertTemperatureSoap"
                contract="WebServiceXConvertTemperature.ConvertTemperatureSoap"
                name="ConvertTemperatureSoap" />
            <endpoint address="http://www.webservicex.net/ConvertTemperature.asmx"
                binding="customBinding" bindingConfiguration="ConvertTemperatureSoap12"
                contract="WebServiceXConvertTemperature.ConvertTemperatureSoap"
                name="ConvertTemperatureSoap12" />
        </client>
    </system.serviceModel>
</configuration>